<h1 class="mb-4">Leaderboard</h1>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each_with_index do |player, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= player.name %></td>
        <td><span class="badge bg-success"><%= player.wins_count %></span></td>
        <td><span class="badge bg-danger"><%= player.lost_matches.count %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
