<h1 class="mb-3">Players</h1>

<%= link_to "Add Player", new_player_path, class: "btn btn-primary mb-3" %>

<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td>
          <%= link_to "Delete",
                      player_path(player),
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                      class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
