<h1>Matches</h1>

<%= link_to "Record Match", new_match_path %>

<table border="1">
  <tr>
    <th>Winner</th>
    <th>Loser</th>
    <th>Date</th>
  </tr>

  <% @matches.each do |match| %>
    <tr>
      <td><%= match.winner.name %></td>
      <td><%= match.loser.name %></td>
      <td><%= match.created_at.strftime("%d %b %Y") %></td>
    </tr>
  <% end %>
</table>
